a { text-decoration: none; color: #4d7285; border-bottom: 1px solid #a6b9c2; }
a:visited { text-decoration: none; color: #7d2595; border-bottom: 1px solid #be92ca; }
a:hover { text-decoration: none; color: #ff0000; border-bottom: 1px solid #ff8080; }

a.clickme { text-decoration: none; color: #4d7285; border-bottom: 1px dotted #4d7285; }
a.clickme:visited { text-decoration: none; color: #7d2595; border-bottom: 1px dotted #7d2595; }
a.clickme:hover { text-decoration: none; color: #ff0000; border-bottom: 1px dotted #ff0000; }

a.plain { text-decoration: none; color: black; border-bottom: none; }
a.plain:hover { text-decoration: none; color: #ff0000; border-bottom: none; }

span.highlight { background-color: #FFF5AA; }

*.pad5 { padding: 5px; }
