body
{
 font-size:16pt;
margin:0px;
border: 0px;
padding:0px;
min-height:800px;
}
.button
{
padding-left:10px;
padding-right:10px;
color:#2c2c2b;
font-family:Verdana;
font-size:14pt;
}
   @font-face {
    font-family: Century_GothicB; /* ��� ������ */
    src: url(fonts/GOTHICB.TTF); /* ���� � ����� �� ������� */
   }
      @font-face {
    font-family: Century_GothicI; /* ��� ������ */
    src: url(fonts/GOTHICI.TTF); /* ���� � ����� �� ������� */
   }
   @font-face {
    font-family: Century_Gothic; /* ��� ������ */
    src: url(fonts/GOTHIC.TTF); /* ���� � ����� �� ������� */
   }
   #ibuts4
   {
   display:none;
   }
   
.century_gothic12B
{
 font-family:Century_GothicB;
 font-size:12pt;

color:#272726;
text-shadow: 1px 1px 1px #b5b5b5;
filter: dropshadow(color=#b5b5b5, offx=1, offy=1);
}
.century_gothic24
{
 font-family:Century_Gothic;

 font-size:24pt;

color:#272726;
text-shadow: 1px 1px 1px #b5b5b5;
filter: dropshadow(color=#b5b5b5, offx=1, offy=1);
}
.contentpaneopen
{
width:100%;
}
.art-article p
{
margin-top:10px;
margin-bottom:10px;
}
.contentpaneopen p
{
line-height: 15px;
margin:0px;
}
.view
{
display:none;
}
.menu2 a:link
{
color:#272726;
}
.menu2 a:visited
{
color:#272726;
}
.menu2
{
margin-left:-15px;
padding-right:10px;

text-align:left;

}
.infotextdesc2 a:link, .infotextdesc2 a:visited 
{
color:#e1080f;
/*text-shadow: 1px 1px 1px #F4D5D5;
filter: dropshadow(color=#F4D5D5, offx=1, offy=1);*/
text-decoration:none;

}
.infotextdesc2 a:hover 
{
color:#fcc8c9;

text-decoration:none;
}
.infotextdesc2
{

font-family:Century_GothicB;
font-size:13pt;
text-indent:0px;
line-height:40px;

}
.parent
{
list-style: none;
line-height: 1.25em;
padding: 0 0 0 13px;
background-image: url(images/el2.jpg);
background-repeat: no-repeat;
}
.sign
{
display:none;
}
.easy_pagination
{
display:none;
}
.menu2 li
{

   margin-bottom:10px;
   margin-top:10px;
 font-family:Century_Gothic;

 font-size:14pt;

color:#272726;
text-shadow: 1px 1px 1px #b5b5b5;
filter: dropshadow(color=#b5b5b5, offx=1, offy=1);
list-style: none;
}
.menu2 ul li
{

list-style: none;
  line-height: 1.25em;
  padding: 0 0 0 13px;
background-image: url(images/el1.jpg);
  background-repeat: no-repeat;
}
.menu2 li ul li
{  
   margin-bottom:8px;
   margin-top:8px;
 font-family:Century_Gothic;

 font-size:12pt;

color:#272726;
text-shadow: 1px 1px 1px #b5b5b5;
filter: dropshadow(color=#b5b5b5, offx=1, offy=1);
list-style: none;

  line-height: 1.25em;
  padding: 0 0 0 13px;
background-image: url(images/el2.jpg);
  background-repeat: no-repeat;
}
.munu2 ul
{


  list-style-type: none;
  color: #364A4A;
  margin: 0;
  padding: 0;
}

.century_gothic9I
{
 font-family:Century_GothicI;

 font-size:9pt;

color:#272726;
text-shadow: 1px 1px 1px #b5b5b5;
filter: dropshadow(color=#b5b5b5, offx=1, offy=1);
}
 
.century_gothic23Red
{
 font-family:Century_Gothic;

 font-size:23pt;

color:#e1080f;
text-shadow: 1px 1px 1px #f1181f;
filter: dropshadow(color=#f1181f, offx=1, offy=1);
}
.bodyContener td
{
border: 0px;
padding:0px;
}
.buttonstyle
{
width:288px;
height:62px;
background-image: url(images/button.jpg);
background-position: top, left;
background-repeat: no-repeat;
vertical-align:middle;
display: table-cell;
font-family:Arial;
font-size:13pt;
}
.buttonstyle a:link,.buttonstyle a:visited
{
color:#2c2c2b;
text-decoration:none;
}
.buttonstyle a:hover
{
color:#757573;
text-decoration:none;
}

#infobg
{
position: absolute;

	z-index: 1;
}
#infotext
{
vertical-align:middle;
display: table-cell;
background-image: url(images/info.jpg);
/*background-position: top, left;*/
background-repeat: no-repeat;

text-indent:20px;
text-align:left;
padding-top:20px;
padding-left:35px;
padding-right:35px;
padding-bottom:50px;
/*position: relative;
top:0px;

images/question.jpg
	z-index: 2;*/
}
#infobg1
{
/*vertical-align:middle;
display: table-cell;
background-image: url(images/question.jpg);
background-position: top, left;
background-repeat: no-repeat;*/
/*
position: absolute;
	z-index: 1;*/
}
#infotext1
{
vertical-align:middle;
display: table-cell;
background-image: url(images/question.jpg);
/*background-position: top, left;*/
background-repeat: no-repeat;

width:231px;



line-height: 25px;
text-align:right;
padding-left:10px;
padding-right:10px;
padding-top:100px;
padding-bottom:10px;
position: relative;
top:0px;

	z-index: 2;
}
.infotextdesc1
{
line-height:20px;
}


.century_gothic10
{
 font-family:Century_Gothic;
 font-size:10pt;

color:#272726;
text-shadow: 1px 1px 1px #b5b5b5;
filter: dropshadow(color=#b5b5b5, offx=1, offy=1);
}
.century_gothic25
{
 font-family:Century_Gothic;
 font-size:25pt;

color:#272726;
text-shadow: 1px 1px 1px #b5b5b5;
filter: dropshadow(color=#b5b5b5, offx=1, offy=1);
}
.century_gothic12
{
font-family:Century_Gothic;
font-size:12pt;
color:#272726;
text-shadow: 1px 1px 1px #b5b5b5;
filter: dropshadow(color=#b5b5b5, offx=1, offy=1);
}
.century_gothic13
{
font-family:Century_Gothic;
font-size:13pt;
color:#272726;
text-shadow: 1px 1px 1px #b5b5b5;
filter: dropshadow(color=#b5b5b5, offx=1, offy=1);
}


.century_gothic13Red
{

font-family:Century_GothicB;
font-size:13pt;


}
.century_gothic18Blue
{
font-family:Century_GothicB;
font-size:18pt;
color:#0086cf;
text-shadow: 1px 1px 1px #F4D5D5;
filter: dropshadow(color=#F4D5D5, offx=1, offy=1);
}
.century_gothic22Blue
{
font-family:Century_GothicB;
font-size:22pt;
color:#0086cf;
text-shadow: 1px 1px 1px #F4D5D5;
filter: dropshadow(color=#F4D5D5, offx=1, offy=1);
}
.century_gothic17
{
font-family:Century_Gothic;
font-size:17pt;
color:#272726;
text-shadow: 1px 1px 1px #b5b5b5;
filter: dropshadow(color=#b5b5b5, offx=1, offy=1);
}
.century_gothic11Grey
{
font-family:Century_Gothic;
font-size:11pt;
color:#a4a5a5;

text-decoration: underline;
text-shadow: 1px 1px 1px #f4d5d5;
filter: dropshadow(color=#f4d5d5, offx=1, offy=1);
}

.century_gothic10B
{
 font-family:Century_GothicB;
 font-size:10pt;

color:#272726;
text-shadow: 1px 1px 1px #b5b5b5;
filter: dropshadow(color=#b5b5b5, offx=1, offy=1);
}
.menuvopros .active a:link, .menuvopros .active a:visited
{
color: #3794FD;
font-weight:bold;
text-decoration:underline;
}
.menuvopros  a:link, .menuvopros  a:visited
{
color: #3794FD;
font-weight:normal;
text-decoration:none;
}
.menuvopros
{
display:none;
}
.topbg
{
border-spacing: 0px;
background-image: url(images/topbg.jpg);
background-position: top, left;
background-repeat: repeat-x;
vertical-align:top;
}
.bottombg
{
background-image: url(images/bottombg.jpg);

background-position:bottom left; 
background-repeat: repeat-x;
vertical-align:top;
}
.highttable1
{
border-spacing: 0px;
border: 0px;
padding:0px;
border-collapse: collapse;
text-align:center;
width:100%;
height:100%;
}
.highttable2
{

border: 0px;
padding:0px;
border-collapse: collapse;

width:1024px;
height:150px;
}
.highttable4
{

border: 0px;
padding:0px;
border-collapse: collapse;

width:1024px;

}
#newsheadbg
{
margin-top:5px;
width:257px;
position: absolute;
z-index: 1;
}
#newsbodybg
{
width:257px;
position: absolute;
z-index: 1;
}
.newsheadtext
{
margin-top:10px;
position:relative;
height:38px;
width:257px;
top:0px;
z-index:2;
}
#system-message
{
color:red;
font-weight:bold;
}
.newsbodytext
{

text-decoration:underline;
text-align:left;
position:relative;
width:180px;
margin-left:38px;
margin-right:38px;
top:0px;
z-index:2;
}
.newsbodytext  a:link
{
color:#2c2c2b;
}
.newsbodytext  a:visited
{
color:#2c2c2b;
}
.MsoTableGrid
{
margin-bottom:30px;
}
.content
{
text-align:left;
padding:10px;
color:#2c2c2b;

vertical-align:top;

font-family:Verdana;
font-size:16px;

}
.linkbottom 
{
color:#2c2c2b;
text-decoration:none;
}

#rst_content select,#rst_content input,#rst_content textarea
{
width:400px;
}
.easy_entrylink label
{
width:150px;
}

.easy_content
{
font-weight: normal;
}


#rst_content select,#rst_content input,#rst_content textarea,.submitTicket,.easy_entrylink select,.inputbox,.easy_entrylink textarea,#easycalccheck
{
color:#2c2c2b;
padding:0px;
margin:0px;
font-family:Verdana;
font-size:14pt;

}
.smiles
{
width:168px;
height:92px;
text-align:center;
border:0px;
padding:0px;
border-collapse: collapse;
}
.rst_desc p
{
text-indent: 35.45pt;
}
#rst_menu li
{

left:11px;
}
.autorization
{
opacity:0;
visibility: hidden;
-webkit-box-shadow: 0px 5px 80px #505050;

border:1px;
border-color:#000;
background-color:#eeeeee;
position:fixed;
left:40%;
top:25%;
width:383px;
height:400px;
z-index:1000;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}

.tableGrey
{

-webkit-border-bottom-right-radius: 15px;
-webkit-border-bottom-left-radius: 15px;
-moz-border-radius-bottomright: 15px;
-moz-border-radius-bottomleft: 15px;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
}

.submitTicket
{
border-radius:15px;
height: 35px;
width: 200px;
}
#form-login div
{
padding-top:50px;
text-align:center;
}
#form-login
{

padding-left:20px;
border:1px;
border-color:#000;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}
#form-login fieldset
{
border:1px;
border-color:#000;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
left: 13px;
top: 0px;
position: relative;
width: 347px;
}
.news
{
vertical-align:top;
text-align:center;
width:255px;
padding-top:30px;
}
.highttable3
{
border: 0px;
padding:0px;
border-collapse: collapse;
text-align:center;
width:100%;

}
.highttable2Cell1
{
width:35px;
height:100%;
}
.highttable2Cell2
{
width:245px;
height:100%;
}
.highttable2Cell3
{
width:80px;
height:100%;
}
.highttable2Cell4
{
vertical-align:top;
width:620px;
height:100%;
 text-align:right;
}
.highttable2Cell4Top
{
line-height:35px;
vertical-align:top;
width:100%;
 text-align:right;
}
.highttable2Cell4BottomLeft
{
vertical-align:top;
width:280px;
 text-align:right;
}
.highttable2Cell4BottomRight
{
vertical-align:top;

 text-align:right;
}
.highttable2Cell5
{

height:100%;
}
.bodyContener
{
width:1028px;
border: 0px;
padding:0px;
border-collapse: collapse;
text-align:center;

}
.bodyContenerSprite td
{
border: 0px;
padding:0px;
margin:0px;
}
.bodyContenerSprite
{
border: 0px;
padding:0px;
margin:0px;
width:2px;
background-image: url(images/sprite.jpg);
background-position: top, left;
background-repeat: repeat-y;
vertical-align:top;
}
.bodyContenerSprite0
{
border: 0px;
padding:0px;
margin:0px;
width:2px;

}
.bodyContenerCenter
{
width:1024px;
border-spacing:0px;
}
.elmenu  a:link
{
text-decoration: none;
color:#171717;
text-shadow: 1px 1px 1px #b5b5b5;
filter: dropshadow(color=#b5b5b5, offx=1, offy=1);

}
.elmenu  a:visited
{
text-decoration: underline;
color:#171717;
text-shadow: 1px 1px 1px #b5b5b5;
filter: dropshadow(color=#b5b5b5, offx=1, offy=1);

}


.elmenu a:hover
{
color:#3794fd;
text-shadow: none;

}
.currentelmenu  a:link
{
text-decoration: none;
color:#3794FD;
text-shadow: none;

}
.currentelmenu  a:visited
{
text-decoration: underline;
color:#3794FD;
text-shadow: none;

}

#current  a:link
{
text-decoration: underline;
color:#095ffd;
text-shadow: none;

}
#current   a:visited
{
text-decoration: underline;
color:#3794fd;
text-shadow: none;

}
.menu2 a:hover
{
color:#3794fd;
text-shadow: none;
}
.currentelmenu
{

height:43px;
text-decoration: underline;
display : inline;
list-style: disc;
float: left;
padding-top:10px;
padding-left:27px;
padding-right:27px;
font-family:Century_GothicB;

 font-size:13.5pt;

color:#3794FD;
text-shadow: none;
background-image: url(images/centermunu.jpg);
cursor: pointer;
background-repeat: no-repeat;
vertical-align:middle;
display: table-cell;
}
.elmenu
{
height:43px;

display : inline;
list-style: disc;
float: left;
padding-top:10px;
padding-left:27px;
padding-right:27px;
font-family:Century_GothicB;

 font-size:13.5pt;

color:#171717;
text-shadow: 1px 1px 1px #b5b5b5;
filter: dropshadow(color=#b5b5b5, offx=1, offy=1);
background-image: url(images/centermunu.jpg);
cursor: pointer;
background-repeat: no-repeat;
vertical-align:middle;
display: table-cell;
}
.menu  li
{
height:35px;
margin-bottom:0px;

list-style: disc;
float: left;

display : inline;





}
.menu li:first-child
{
background-image: url(images/firstmenu.jpg);




}
.menu li:last-child
{
background-image: url(images/lastmenu.jpg);
background-position: top right;
}




.separator
{

width:3px;
padding-top: 10px;
background-image: url(images/bg-image.jpg);
}

.menu
{
text-align:center;
margin-left: 20px;
}


.djslider li
{
display : inline;
list-style: disc;
padding:0px;
position: absolute; top: 0px; left: 0px;
}
.djslider ul
{
display : inline;
list-style: disc;
padding:0px;
position: absolute; top: 0px; left: 0px;
}
.article_separator
{
display: none;
}
.searchsearch
{

}

.buttons
{
position: fixed;
top: 20%;
left: 0px;
width: 48px;
height: 100%;
border: none;
vertical-align:middle;
}

.buttonsearch
{
position:absolute;

}
.zayavkatable
{
width:100%;

}
.zayavkatable td
{
vertical-align:top;
font-size:12pt;
}
.zayavkahead
{
font-size:18px;
}
.zayavkatable input,.zayavkatable select
{
width:330px;

}
h1
{
font-size:16px;
color:red;
font-weight:bold;
}
.zayavkatable  textarea 
{
width:330px;
height:100%;
}
.headtopic
{

font-weight:bold;
}
.zayavkaleftcolumntable1
{
width:320px;
}
.zayavkaleftcolumntable2
{
width:400px;
}
.headeasybook
{
text-align:justify;
}
#rst_attachment_ext
{
visibility: hidden;
}
.headeasybook p
{
text-indent: 35.45pt;
}
#CAPTCHA input
{
width:100px;
}
#submitform
{
width:100px;
}
